@{
    ViewData["Title"] = "Home Page";
}

<h1>Results</h1>

<table class="table table-striped">
  <tr>
      <th>Array Size</th>
      <th>Time (Nanoseconds)</th>
  </tr>
    @foreach (var item in ViewBag.result)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>




