@{
    ViewData["Title"] = "Home Page";
}
<h1><span style="        color: turquoise">&lt;Func&gt;</span> Battle</h1>
<p>These are not the best algorithms in the world, they are justa  tribute</p>
<a href="/Home/NewTest" class="btn btn-default" role="button">Run a test</a>
