@{
    ViewData["Title"] = "Home Page";
}

<center>

<h1><span style="color: turquoise">&lt;Func&gt;</span> Battle</h1>

<p>This is a test suite we created in order to measure the speed of our algorithms against each other and the standard functions that are part of C#.</p>

<p>To run a speed test, click the button below.</p>

<a href="/Home/NewTest" class="btn btn-default" role="button">Run a test</a>
<br /><br />
<p>Our GitHub repository can be found <a href="https://github.com/Tolvic/algorithmic-complexity">here.</a></p>

<p><i>Please note, we have only added a small number of algorithms. We would like to add more in the future.</i></p>

</center>
